@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes miAnimacion {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes miAnimacion2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes vibrar {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.logo {
  margin: 10%;
  margin-left: 10%;
  margin-right: 8%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo img {
  margin-bottom: 3%;
}

.desktop-nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.desktop-nav a:hover {
  color: grey;
}
/* Main */

.padel {
  margin: 10%;
}

.padel p {
  color: #232c50;
  font-weight: bold;
  font-size: 50px;
}

.contact {
  color: #fff;
  background-color: #8b48bf;
  border-radius: 50px;
  padding: 10px;
  width: 130px;
  cursor: pointer;
  /* height:45px; */
  text-align: center;
  align-items: center;
}

.textoPadel {
  font-family: "Be Vietnam", sans-serif;
  text-align: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  animation: miAnimacion 3s ease-in-out infinite;
}

.different {
  font-family: "Be Vietnam", sans-serif;
  color: #fff;
  background-color: #3cddf3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px 15px;
  margin: 30px auto;
}

.different h2 {
  font-size: 36px;
}

.different p {
  font-size: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Be Vietnam", sans-serif;
  margin-bottom: 10vh;
}

.elementoLista {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: miAnimacion 3s ease-in-out infinite;
}

.list p {
  color: #b3b2b7;
  margin: 40px 10%;
}

.list .tituloLista {
  width: 90%;
  font-weight: bold;
  color: #323851;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #8b48bf4d;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.numLista {
  color: #fff;
  background-color: #8b48bf;
  padding: 10px 25px;
  border-radius: 50px;
  margin-right: 15px;
}

.bestMonth {
  font-family: "Be Vietnam", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 10px;
  text-align: center;
}

.lebron {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto 10%;
}

.bestMonth h2 {
  color: #242e53;
  font-size: 40px;
  margin-bottom: 40px;
}

.bestMonth h3 {
  color: #3f4868;
  font-size: 16px;
  margin: 20px auto;
}

.bestMonth p {
  color: #b9b9c1;
}

.bestMonth .more {
  color: #fff;
  background-color: #8b48bf;
  padding: 10px 40px;
  margin-top: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.best {
  font-family: "Be Vietnam", sans-serif;
  font-size: 40px;
  background-color: #3cddf3;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  gap: 10px;
}

.best div {
  background-color: #232c50;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 14px;
  margin-top: 30px;
  cursor: pointer;
}
.best div:hover {
  animation: vibrar 0.3s ease infinite;
}

.elemento-clicable {
  cursor: pointer;
}

/* Footer */

.footer {
  font-family: "Be Vietnam", sans-serif;
  background-color: #1e1e26;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.mainFooter {
  display: flex;
  flex-direction: column;
  font-family: "Be Vietnam", sans-serif;
  background-color: #1e1e26;
  height: 80vh;
}

.footer p {
  color: #8c8c94;
  margin: 25px auto;
  margin-left: 90%;
}

/* Estilos para el input y el botón */
input[type="text"],
h6 {
  margin: 10px 0;
}

.form {
  display: flex;
  align-items: center;
  order: -1;
  padding: 10px;
  margin: 20px 10px;
}

.form .input {
  color: #a0a0a0;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 0px;
  padding-left: 10px;
  padding-right: 150px;
  border: none;
}
.form .input::placeholder {
  color: #999;
  font-style: italic;
}

.form .go {
  color: #fff;
  background-color: #8b48bf;
  border-radius: 50px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.enlaces {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
}
.enlaces a:hover {
  color: #8b48bf;
}

/* Estilos para las redes y los íconos sociales */
.redes {
  font-size: 16px;
  width: 60vw;
  height: 120px;
  align-items: space-evenly;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4px; /* Espacio superior entre las redes y los elementos anteriores */
}

.redes a {
  color: #fff;
  text-decoration: none;
  margin: 5px; /* Espacio entre los enlaces */
  cursor: pointer;
}

.redesSociales {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: center;
  margin: auto auto;
}

.redesSociales a {
  color: #fff;
  text-decoration: none;
  margin: auto 35px;
  cursor: pointer;
}

/* Estilos para el logo y el texto de derechos de autor */
.footer-desktop .redesSociales .substract {
  /* fill: red; */
  margin-top: 20px; /* Espacio superior entre el logo y los elementos anteriores */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  /* filter: invert(1) brightness(100); */
}

.mainFooter p {
  margin-top: 10px;
  margin-left: 30%; /* Espacio superior entre el texto de derechos de autor y los elementos anteriores */
}

.mainFooter {
  display: flex;
  flex-direction: column;
  font-family: "Be Vietnam", sans-serif;
  background-color: #1e1e26;
  height: 60vh;
}

/*Media Queries*/

/* Estilos para pantallas chicas*/
@media (max-width: 768px) {
  .desktop-nav {
    display: none;
  }
  .contactFooter {
    display: none;
  }
  .tenistasDesaparecidos {
    display: none;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}

/* Estilos para pantallas grandes, como PC */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .desktop-nav a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    gap: 5vw;
  }

  .contact {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .padel {
    display: flex;
    justify-content: space-around;
  }

  .textoPadel {
    gap: 10%;
  }

  .different {
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    flex-wrap: nowrap;
    background-color: #8b48bf;
    padding-left: 20%;
    padding-right: 20%;
  }

  .list .tituloLista {
    display: flex;
    flex-direction: row;
    background-color: #fff;
  }

  .list {
    text-align: start;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .elementoLista {
    width: 40vw;
  }
  .tenistas {
    display: flex;
    flex-direction: row;
    margin: 3% 5%;
  }
  .best {
    flex-direction: row;
    background-color: #8b48bf;
    height: 35vh;
    justify-content: space-around;
    text-align: start;
  }
  .best h3 {
    overflow: hidden;
    width: 22%;
    font-size: 0.8em;
  }
  .best div {
    background-color: #fff;
    color: #8b48bf;
  }

  .footer {
    height: 80vh;
    font-family: "Be Vietnam", sans-serif;
    background-color: #1e1e26;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer-desktop {
    display: flex;
    flex-direction: column-reverse;
    order: -1;
  }

  .footer .redes {
    order: 1;
  }

  .footer .form {
    display: flex;
    justify-content: flex-end;
    order: 2;
  }
  .form .input {
    padding-right: 10px;
  }

  .footer .redesSociales {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .redesSociales a {
    margin: 5px;
  }
  .iconos {
    display: flex;
  }

  .redes {
    height: 20vh;
    width: 30vw;
    display: flex;
    gap: 100px;
  }
  .redes .enlaces {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .mainFooter {
    display: flex;
    flex-direction: column;
    font-family: "Be Vietnam", sans-serif;
    background-color: #1e1e26;
    height: 60vh;
  }
  .mainFooter p {
    margin-left: 70vw;
    margin-bottom: 10vh;
    color: #8c8c94;
  }
}
